<% if can_create? %>
  <div class="message is-primary">
    <div class="message-header">
      Want a club of your own?
    </div>
    
    <div class="message-body">
      <%= link_to 'New Club', new_club_path, class: 'button is-primary' %>
    </div>
  </div>
<% end %>

<% if in_any_clubs? %>
  <%= rp 'club_list', title: 'Your Clubs', clubs: current_user.clubs %>
<% end %>

<%= rp 'club_list', title: 'Discover Clubs', clubs: @clubs %>
