<div class="notification is-danger">
  <strong>
    Note:
  </strong>

  <span>
    You will auto-join any club you visit. Later a proper join system will be added.
  </span>
</div>

<% if can_post? %>
  <div class="message is-primary">
    <div class="message-header">
      Want a club of your own?
    </div>
    
    <div class="message-body">
      <%= link_to 'New Club', new_club_path, class: 'button is-primary' %>
    </div>
  </div>
<% end %>

<div class="message is-primary">
  <div class="message-header">
    Public Club List
  </div>

  <div class="message-body">
    <table class="table is-striped is-fullwidth">
      <thead>
        <tr>
          <th width="40%">Club Name</th>
          <th width="10%">Member Count</th>
          <th width="10%">Last Updated</th>
        <tr>
      </thead>
      <tbody>
        <%= render @clubs %>
      </tbody>
    </table>
  </div>
</div>

