<div class="topic" data-topic-id="<%= topic.id %>">
  <header>
    <h2>
      <%= link_to topic.title, topic %>
    </h2>
  </header>

  Posted by <%= link_to topic.username, topic.user %>

  <% if topic.tags.present? %>
    <%= render partial: 'tags/tag_list', locals: { tags: topic.tags } %>
  <% end %>
</div>