<% @page_title = 'Browsing Topics' %>

<div class="topic-groups">
  <% cache @topics do %>
    <% @topics.each_slice(3) do |topics| %>
      <%= rp 'topics_batch', topics: topics %>
    <% end %>
  <% end %>
</div>