<% @page_title = @topic.title_squeezed %>

<div class="topic-header blackblock">
  <h1 class="no-margin">
    <%= @topic.title %>
  </h1>

  <div class="subblock flex v-center small">
    Estimated read time - <%= @topic.reading_time(format: :approx) %>
  </div>
</div>

<%= react_component('PostList',
  topicID: @topic.id,
  posts: @posts_json,
  canPost: can_post?,
  newPostEndpoint: api_new_post_path,
  authenticity_token: form_authenticity_token,
) %>