<% @page_title = @topic.title_squeezed %>

<div class="topic-header notification is-<%= color_for(@topic) %>">
  <p class="title">
    <%= @topic.title %>
  </p>

  <p class="subtitle">
    <%= @topic.reading_time(format: :approx) %> reading time
  </p>
</div>

<%= react_component('PostList',
  topicID: @topic.id,
  posts: @posts_json,
  canPost: can_post?,
  currentUsername: current_username,
  currentUserID: current_user&.id,
  newPostEndpoint: api_new_post_path,
  editPostEndpoint: api_edit_post_path,
  topicColor: color_for(@topic),
  authenticity_token: form_authenticity_token,
) %>