<% @page_title = 'User List' %>

<div class="notification is-primary">
  <p class="title">
    User List
  </p>

  <p class="subtitle">
    Find someone with a cute avatar and say hi!
  </p>
</div>

<div class="user-list">
  <%= rc 'user', @users %>
</div>