Meteor Lens (ML) is a comfy forum created by <a href="/@nina">nina</a> and <a href="/@dakota">dakota</a>.

<h3 class="title is-4 is-spaced">
  FAQ
</h3>

<div class="content">
  <strong>
    What's this forum about?
  </strong>
  
  <p>
    ML was originally conceived as an art and writing forum, however it's drifted away from that to general purpose
    discussions. Talk about anything?
  </p>
</div>

<div class="content">
  <strong>
    What forum software is this?
  </strong>

  <p>
    No forum software. ML was written from scratch by the creators in <em>Ruby on Rails</em> and <em>React.js</em>. You can check us out <a href="https://github.com/tipsypastels/ml" target="_blank">on Github</a>!
  </p>
</div>