@import "bulma-vars";
@import "bulma";
@import "jquery-ui";
@import "**/*";

.media.media-centered {
  align-items: center;
}

.notification a {
  text-decoration: none !important;
}

.hero-search {
  outline: none !important;
  border: none !important;
}

.column.is-avatar-sized {
  flex: none;
  width: 7%;
}

.column.is-one-tenth {
  flex: none;
  width: 10%;
}