button, 
input[type='button'],
input[type='submit'],
.btn {
  cursor: pointer;

  font-size: 1.1em;
  font-family: $font-header;

  background-color: #222;
  color: white !important;
  border: none;
  outline: none;
  
  padding: 5px 12px;
  border-radius: 2px;
  box-shadow: 2px 2px 1px mix(transparent, black, 90%);
  
  &.primary {
    background-color: $accent-color;
  }
}