input[type='text'].invisible {
  border: none;
  font-weight: 700;
  background-color: $background-color;
  letter-spacing: unset;
  font-family: $font-header;
  outline: none !important;
  padding: 0;
}

textarea {
  display: block;
  width: 100%;

  min-height: 100px;
  padding: 1em !important;
  color: white;
  outline: none !important;
  resize: none;

  &::placeholder {
    color: #eee;
    font-style: italic;
  }
}