input[type='text'],
input[type='email'],
input[type='password'],
textarea {
  &.invisible {
    border: none;
    font-weight: 700;
    background-color: $background-color;
    letter-spacing: unset;
    font-family: $font-header;
    outline: none !important;
    padding: 0;
  }

  &:not(.invisible) {
    display: block;
    box-sizing: border-box;
    width: 100%;

    margin-bottom: 1em;

    color: white;
    background-color: #222;
    border: none;
    padding: 1em;

    outline: none !important;

    font-family: $font-primary;
    font-size: 1em;

    &::placeholder {
      color: #eee;
      font-style: italic;
    }
  }
}

textarea {
  min-height: 100px;
  resize: none;
}