.post-badge {
  width: 96px;
}

.textarea.margin-bottom {
  margin-bottom: 0.5rem;
}

.PostReply {
  margin-top: 1.5rem !important;

  .notification {
    margin-bottom: 0.25rem !important;
  }
}

.typing-notif {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}