.post {
  &:not(:last-child) {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid mix(black, transparent, 5%);
  }

  .post-header {
    margin-bottom: 1em;
  }
}

.PostReply {
  margin-top: 1em;
  margin-bottom: 2em;
  padding-top: 1em;
  border-top: 1px solid mix(black, transparent, 5%);

  input[type='submit'] {
    margin-top: 0.5em;
  }
}