.text-light {
  color: lighten($primary-color-light, 30%);
}

.smaller {
  font-size: 0.8em;
}

.larger {
  font-size: 1.2em;
}

.bold {
  font-weight: 700;
}

h1, .h1 {
  font-size: 2rem;
}

.small-caps {
  font-variant: small-caps;
}