@import url('https://fonts.googleapis.com/css?family=Arimo|Nanum+Gothic');

$font-header: 'Arimo', sans-serif;
$font-primary: 'Nanum Gothic', sans-serif;

$primary-color-light: #597E8E;
$primary-color-dark: #3C3142;
$secondary-color-light: #DEA9B6;
$secondary-color-dark: #B26184;
$accent-color: #5ca59f;
$accent-color-light: lighten($accent-color, 15%);
$background-color: #fafafa;